colorama==0.4.6
fastapi==0.88.0
ffmpeg==1.4
ffmpeg_python==0.2.0
gevent==22.10.1
gevent_socketio==0.3.6
httpx==0.23.0
jose==1.0.0
lz4==4.0.1
passlib==1.7.4
Pillow==9.3.0
pydantic==1.10.2
pytest_cov==4.0.0
python_jose==3.3.0
redis==4.4.0
speedtest==0.0.1
speedtest_cli==2.1.3
SQLAlchemy==1.4.35
starlette==0.22.0
tqdm==4.64.0
typing_extensions==4.4.0
uvicorn==0.20.0
psycopg2-binary==2.9.5